.col-12
  .card
    .card-body

      %h1 Listing curriculums

      %table.table.table-responsive
        %thead
          %tr
            %th Experience
            %th Link
            %th Start date
            %th Finish date
            %th Position
            %th Type exp
            %th
            %th
            %th

        %tbody
          - @curriculums.each do |curriculum|
            %tr
              %td= curriculum.experience
              %td= curriculum.link
              %td= curriculum.start_date
              %td= curriculum.finish_date
              %td= curriculum.position
              %td= curriculum.type_experience
              - if can? :read, curriculum
                %td= link_to 'Show', curriculum,class:"btn btn-success"
              - if can? :update, curriculum
                %td= link_to 'Edit', edit_curriculum_path(curriculum),class:"btn btn-warning"
              - if can? :destroy, curriculum
                %td= link_to 'Destroy', curriculum,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
      - if can? :new, Curriculum
        = link_to 'New Curriculum', new_curriculum_path,class:"btn btn-info"