.col-12
  .card
    .card-body

      %h1 Listing curriculums

      %table.table.table-responsive
        %thead
          %tr
            %th Experience
            %th Description experience
            %th Link
            %th Start date
            %th Finish date
            %th Position
            %th Type exp
            %th User
            %th
            %th
            %th

        %tbody
          - @curriculums.each do |curriculum|
            %tr
              %td= curriculum.experience
              %td= curriculum.description_experience
              %td= curriculum.link
              %td= curriculum.start_date
              %td= curriculum.finish_date
              %td= curriculum.position
              %td= curriculum.type_exp
              %td= curriculum.user
              %td= link_to 'Show', curriculum
              %td= link_to 'Edit', edit_curriculum_path(curriculum)
              %td= link_to 'Destroy', curriculum, method: :delete, data: { confirm: 'Are you sure?' }

      %br

      = link_to 'New Curriculum', new_curriculum_path
