.col-12
  .card
    .card-body
      %h1
        = @curriculum.title
      %p
        = @curriculum.description_experience.html_safe
      %p
        =link_to "Sitio",@curriculum.link,class:"btn btn-info"
      %p
        %b Fecha de inicio:
        = @curriculum.start_date
      %p
        %b Fecha de termino:
        = @curriculum.finish_date
      %p
        %b Tipo de experiencia:
        = @curriculum.experience.title
      %p
        %b correo:
        = @curriculum.user.email
      .row
        - @title = ""
        - if !@curriculum.tools.lenguaje.empty?
          .col-md-4
            =render @curriculum.tools.lenguaje
        - if !@curriculum.tools.frameworks.empty?
          .col-md-4
            =render @curriculum.tools.frameworks
        - if !@curriculum.tools.others.empty?
          .col-md-4
            =render @curriculum.tools.others
      .row
        - if can? :update, @curriculum
          .col-md-3.offset-md-1
            = link_to "Add tool", "/curriculums/#{@curriculum.id}/tools",class:"btn btn-info btn-block"
          .col-md-3
            = link_to 'Edit', edit_curriculum_path(@curriculum),class:"btn btn-info btn-block"
        .col-md-3
          = link_to 'Back', curriculums_path,class:"btn btn-info btn-block"
