.col-12
  .card.my-5
    .card-body
      %h1
        = @curriculum.title
      %p
        = @curriculum.description_experience.html_safe
      %p
        =link_to "Sitio",@curriculum.link,class:"btn btn-info"
      %p
        %b Fecha de inicio:
        = @curriculum.start_date
      %p
        %b Fecha de termino:
        = @curriculum.finish_date
      %p
        %b Tipo de experiencia:
        = @curriculum.experience.title
      %p
        %b correo:
        = @curriculum.user.email
      .row
        - if can? :update, @curriculum
          .col-md-4.offset-md-2
            = link_to 'Edit', edit_curriculum_path(@curriculum),class:"btn btn-info btn-block"
        .col-md-4
          = link_to 'Back', curriculums_path,class:"btn btn-info btn-block"
.col-12
  =image_tag @curriculum.c_image.url(:big),class:""
.col-12
  =image_tag @curriculum.c_image.url(:original),class:""
.col-12
  =image_tag @curriculum.c_image.url(:medium),class:""
.col-12
  =image_tag @curriculum.c_image.url(:thumb),class:""

- @curriculum.tools.each do |tool|
  .col-12.col-sm-6.col-md-4.my-3
    .card
      %img.card-img-top{:alt => "#{tool.title}", :src => "#{tool.t_image.url(:thumb)}"}/
      .card-body
        %p.card-title=tool.title
        %p.card-text= truncate(tool.description, length:200)
        .text-right
          = link_to 'Ver más', tool,class:"btn btn-primary"