.col-12
  .card
    .card-body
      %h1
        = @curriculum.experience
      %p
        = @curriculum.description_experience.html_safe
      %p
        =link_to "Sitio",@curriculum.link,class:"btn btn-info"
      %p
        %b Fecha de inicio:
        = @curriculum.start_date
      %p
        %b Fecha de termino:
        = @curriculum.finish_date
      %p
        %b Tipo de experiencia:
        = @curriculum.type_experience
      %p
        %b correo:
        = @curriculum.user.email
      .row
        - if can? :update, @curriculum
          .col-md-4.offset-md-2
            = link_to 'Edit', edit_curriculum_path(@curriculum),class:"btn btn-info btn-block"
        .col-md-4
          = link_to 'Back', curriculums_path,class:"btn btn-info btn-block"
