%nav.navbar.navbar-expand-md.bg-secondary.navbar-dark
  .container
    = link_to "SiteCurriculum", root_path, class:"navbar-brand"
    %button.navbar-toggler.navbar-toggler-right{"data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to "Inicio", root_path, class:"nav-link"
          - if params[:controller] != "home"
            %li.nav-item
              =link_to "Portafolio", home_index_path,class:"nav-link"
            %li.nav-item
              =link_to "Experiencia", home_index_path,class:"nav-link"
            %li.nav-item
              =link_to "Habilidades", home_index_path,class:"nav-link"
          -else
            %li.nav-item
              =link_to "Portafolio", "#PE" ,class:"nav-link"
            %li.nav-item
              =link_to "Experiencia", "#PW" ,class:"nav-link"
            %li.nav-item
              =link_to "Habilidades", "#TS" ,class:"nav-link"
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com"} Categorias 
          .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %a.dropdown-item{:href => "#"} Categoria # n
            %a.dropdown-item{:href => "#"} Categoria # n
            %a.dropdown-item{:href => "#"} Categoria # n
        - if user_signed_in?
          = link_to "Logout", destroy_user_session_path, class:"nav-link", :method => :delete
          - if current_user.permission_level > 0
            %li.nav-item.dropdown
              %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com"} Administrador 
              .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
                = link_to 'Curriculum', curriculums_path,class:"dropdown-item"
                = link_to 'Experiencias', experiences_path,class:"dropdown-item"
                = link_to 'Habilidades', myskills_path,class:"dropdown-item"
                = link_to 'Herramientas', tools_path,class:"dropdown-item"
        - else
          %li.nav-item
            = link_to new_user_session_path, class:"nav-link" do
              %i.fa.fa-user.fa-fw
      %form.form-inline.m-0
        %input.form-control.mr-2{:placeholder => "Search", :type => "text"}/
        %button.btn.btn-primary{:type => "submit"} Search