.col-12
  .card
    .card-body
      %h1 Listing skills
      .table-responsive
        %table.table
          %thead
            %tr
              %th Title
              %th User
              %th
              %th
              %th

          %tbody
            - @skills.each do |skill|
              %tr
                %td= skill.title
                %td= skill.user.email
                %td= link_to 'Show', skill,class:"btn btn-primary"
                %td= link_to 'Edit', edit_skill_path(skill),class:"btn btn-secondary"
                %td= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"

      %br

      = link_to 'New Skill', new_skill_path,class:"btn btn-info"
